/*TODO : responsive design (% des font-size, virer les fixed et ptet les images sur les cotés, )
TODO : w3c + css3 all navigateurs (moz webkit etc sur box shadow etc) 

Html5shiv 
Modernizr
http://prefixmycss.com/

TODO : html5 element : article/section/aside ... http://www.alsacreations.com/article/lire/1376-html5-section-article-nav-header-footer-aside.html http://hakim.se/experiments/css3-3d-slideshow*/

@charset "utf-8";

* {
    margin:0;
    padding:0;
}

html { 
    margin:0;
    padding:0;
}

body {
    color: black;
    font-family: Arial, Verdana, Helvetica;
    margin:0;
	padding:0;
	width:100%;
	background-color:white;
}

::selection
{
	background	:	#9d86b7;
	color	:	white;
}

img
{
	border:0;
}

#header {

}

a {
    color: #003d4c;
    text-decoration: none;
}
a:hover {
    color: #FD7E00;
    text-decoration:none;
}
a img {
    border:none;
}

@font-face {
    font-family: "Agency";
	src: url('../AGENCYR.TTF') format('truetype');
	font-weight:normal;
    font-style:normal;
    font-variant:normal;
}
@font-face {
    font-family: "Agency";
	src: url('/../AGENCYB.TTF') format('truetype');
	font-weight	:	bold;
}
@font-face {
    font-family: "Ghotic";
	src: url('/../GOTHIC.TTF') format('truetype');
	font-weight:normal;
    font-style:normal;
    font-variant:normal;
}
@font-face {
    font-family: "Ghotic";
	src: url('/../GOTHICB.TTF') format('truetype');
	font-weight	:	bold;
}
@font-face {
    font-family: "Ghotic";
	src: url('/../GOTHICI.TTF') format('truetype');
	font-style: italic, oblique;
}
@font-face {
    font-family: "Ghotic";
	src: url('/../GOTHICBI.TTF') format('truetype');
	font-style: italic, oblique;
	font-weight	:	bold;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom:0.5em;
}
h1 {
    color: #9d86b7;
    font-size: 160%;
    padding:5px;
}
h2 {
    background:#fff;
    color: #e32;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    font-size: 190%;
}
h3 {
    color: #2c6877;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    font-size: 115%;
}
h4 {
    color: #993;
    font-weight: normal;
}
p {
    margin: 0 0 1em 0;
}

/*   Architecture    */ 
/* TOP */
div.container_absolute_top /* contient le conteneur fixed des top_barres */
{
	position:absolute;
	top:0;
	left:0;
}

div.barres_top /* contient les deux barres du haut + la ban*/
{
	position : fixed ;
	top:0;
	width : 100%;
	z-index:3;
	min-width	:	1200px;
}

div.barres_top 	a
{
	text-decoration	:	none;
	font-family	:	"Agency";
	vertical-align	:	middle;
	color	:	black;
}

div.home_barre /* la 1e barre : accueil, login... */
{
	position : absolute ;
	width : 100%;
	height:35px;
	text-align : center;
	/*border-bottom	:	1px solid gray;*/

	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	
	/*background: linear-gradient(to bottom, #808080 0%, #282828 100%) repeat scroll 0% 0% transparent;*/
	
	background-image	:	url('../img/new_bar2.png');
	background-repeat	:	repeat-x;
	background-size	:	auto	100%;
}

div.home_barre_user
{
	float	:	left;
	position	:	relative;
	height	:	100%;
	height	:	24px;  /* height de la home barre - border_avatar (définie dans menubar.ctp) ; le but étant que la bordure de l'user recouvre la bordure de la homme barre*/
	background-color	:	white;
	z-index	:	10;
}

div.home_barre_user a
{
	display		:	block;
	width	:	100%;
	height	:	100%;
	float	:	left;
	line-height	:	24px; /* hauteur de la home_barre - hauteurs des borders - 2*padding du pseudo*/
	font-weight : none;
	background-color	:	white;
	z-index	:	10;
}

div.home_barre_avatar
{
	float	:	left;
	position	:	relative;
	width	:	50px;
	height	:	100%;
	padding	:	5px;
	padding-bottom	:	0;
	padding-top	:	0;
}

div.home_barre_avatar img
{
	max-width	:	100%;
	width	:	auto;
	height	:	100%;
	border : 0;
	position	:	relative;
	/*vertical-align	:	middle;*/
}

div.home_barre_pseudo
{
	float	:	left;
	position	:	relative;
	height	:	100%;
	padding	:	5px;
	padding-bottom	:	0;
	padding-top	:	0;
}

div.home_barre_boutons
{
	float	:	left;
	position	:	relative;
	height	:	100%;
	margin-left	:	1%;
	font-weight : bold;
	vertical-align	:	top;
	text-align	:	right;
	font-family	:	"Agency";
}

div.home_barre_boutons a
{
	display		:	block;
	width	:	100%;
	height	:	100%;
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
div.home_barre_boutons_plop a
{
	text-decoration: blink;
	color	:	red;
	-webkit-animation-name: blinker;  
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: 1s; 
	animation-name: blinker;  
	animation-iteration-count: infinite;  
	animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	animation-duration: 1s; 
}

div.home_barre_boutons_plop_notif
{
	background-image:url('../../img/notification_new.png') !important;
}
div.home_barre_boutons_plop_mail
{
	background-image:url('../../img/mail_new.png') !important;
}

div.home_barre_boutons div
{
	float	:	left;
	height	:	100%;
	width	:	30px;
	background-size	:	25px 25px;
	background-repeat:no-repeat;
	background-position:center center;
}

div.home_barre_bouton1
{
	background-image:url('../img/home.png');
}

div.home_barre_bouton2
{
	background-image:url('../img/notification.png');
}

div.home_barre_bouton3
{
	background-image:url('../img/mail.png');
}

div.home_barre_bouton4
{
	background-image:url('../img/events.png');
}
div.home_barre_bouton5
{
	background-image:url('../img/match.png');
}
div.home_barre_bouton6
{
	background-image:url('../img/coaching.png');
}

nav.home_barre_mines 
{
	height	:	100%;
	float:left;
}

nav.home_barre_mines ul 
{
	float	:	left;
	position	:	relative;
	vertical-align	:	middle;
	line-height : 35px; /* hauteur de la home_barre - hauteurs des borders*/
	font-weight	:	none;
	font-family	:	"Ghotic";
	list-style: none;
	display: inline-table;
	z-index:2;
}

nav.home_barre_mines ul ul {
	display : block;
	visibility:hidden;
}

nav.home_barre_mines ul li:hover > ul {
	visibility:visible;
}

nav.home_barre_mines ul li:hover > ul  > li {
	max-height:	50px;
}

.home_barre_mines_first
{
	/*border-left	:	1px	solid	#9d86b7;*/
}
nav.home_barre_mines ul li {
	float: left;
	/*border-right	:	1px	solid	#9d86b7;*/
	box-sizing:border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		
	transition	:	background-position 300ms ease 0s;
		-webkit-transition	:	background-position 300ms ease 0s;
		-moz-transition	:	background-position 300ms ease 0s;
		-ms-transition	:	background-position 300ms ease 0s;
		-o-transition	:	background-position 300ms ease 0s;
		
	background-image: linear-gradient(rgba(157, 134, 183, 0) 50%, rgba(157, 134, 183, 0.5) 80%, rgba(157, 134, 183, 0.3) 100%);
    background-size: auto 250%;
    background-position: 0 0;
}
div.home_barre nav.home_barre_mines ul li {
	background-image: linear-gradient(rgba(157, 134, 183, 0) 50%, rgba(238, 238, 238, 0.5) 80%, rgba(238, 238, 238, 0.3) 100%);
}
nav.home_barre_mines ul li a {
	display: block; padding: 0 40px;
	color: rgba(0, 0, 0, 0.5); text-decoration: none;
	font-weight	:	bold;
	letter-spacing: 1px;
		transition	:	color 500ms ease 0s;
		-webkit-transition	:	color 500ms ease 0s;
		-moz-transition	:	color 500ms ease 0s;
		-ms-transition	:	color 500ms ease 0s;
		-o-transition	:	color 500ms ease 0s;
}
nav.home_barre_mines ul li:hover {
 background-position: 0 100%;
	/*background: #9d86b7;
	background: linear-gradient(top, rgba(157, 134, 183, 0.3) 0%,rgba(157, 134, 183, 0.6) 80%);
	background: -moz-linear-gradient(top, rgba(157, 134, 183, 0.3) 0%,rgba(157, 134, 183, 0.6) 80%);
	background: -webkit-linear-gradient(top, rgba(157, 134, 183, 0.3) 0%,rgba(157, 134, 183, 0.6) 80%);*/
}
nav.home_barre_mines ul li:hover a {
	color: #000;
}

nav.home_barre_mines ul ul {
	background: #ffffff; border-radius: 0px; padding: 0;
	position: absolute;
	line-height	:	30px !important;
}
nav.home_barre_mines ul ul li {
	float: none; 
	border-bottom: 1px solid #a7a7a7;
	position: relative;
	text-align	:	left;
	background-image:none;
	
	max-height : 0px;
	overflow:hidden;
	transition	:	max-height 500ms  ease;
		-webkit-transition	:	max-height 500ms  ease;
		-moz-transition	:	max-height 500ms  ease;
		-ms-transition	:	max-height 500ms  ease;
		-o-transition	:	max-height 500ms  ease;
}
nav.home_barre_mines ul ul li:first-child
{
	border-top : 1px solid #906de1;
}
nav.home_barre_mines ul ul li a {
	padding: 15px 40px;
	color: #fff;
	opacity : 0.5;
		border : 1px solid #906de1;
	border-top : 0;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
}	
nav.home_barre_mines ul ul li a img {
	float : left;
	height : 30px;
	width:	30px;
	vertical-align:middle;
}
nav.home_barre_mines ul ul li a:hover {
	/*background: rgba(108, 91, 126, 1);*/
	background : #a2a2a2;
	opacity : 1;
}
nav.home_barre_mines ul ul ul {
	position: absolute; left: 100%; top:0;
}

#searchBarAgmk
{
	float:right;
	height	:	100%;
	line-height	:	30px;
	padding-top:5px;
}

#searchBarAgmk .input
{
	float	:	right;
	width	:	50%;
	font-size: 100%;
	padding:0;
	margin	:	0;
	clear:none;
	height	:	20px;
}

.searchBarAgmk_submit
{
	float:right;
	height	:	80%;
	width	:	20%;
	font-size: 100%;
	padding:0;
	margin	:	0;
	clear:none;
}

/* BANNIERE */
div.banniere
{
	position : absolute;
	width : 100%;
	height	:	100px;
	line-height	:	100px;
	background-color	:	white;
	top	:	35px; /* hauteur de la home_barre */
	text-align	:	center;
	
	/*box-shadow: 0 4px 2px -2px gray inset, 0 -4px 2px -2px gray inset;*/
}

div.banniere_content
{
	position	:	relative;
	margin	:	0	auto;
	height	:	100%;
	display	:	inline-block;
	width	:	100%;
}

div.banniere_image
{
	float:	left;
	position	:	relative;
	width	:	50%;
	height	:	100%;
	background-image	:	url('../img/agamek_logo_final2.png');
	background-size:auto 100%;
	background-repeat	:	no-repeat;
	background-position: center center;
}

div.pub
{
	position	:	relative;
	float:	left;
	width	:	25%;
	height	:	100%;
}

div.barre_jeux /* = barre_specific */
{ 
	background-color	:	#a7a7a7;
	position : absolute ;
	width : 100%;
	top	:	135px; /* some des hauteurs home_barre+banniere */
	text-align	:	center; 
	height	:	35px;
	/*background: linear-gradient(to bottom, #a7a7a7 0%, #282828 100%) repeat scroll 0% 0% transparent;
	
	background-image	:	url('../img/barre2_blanc.png');
	background-repeat	:	repeat-x;
	background-size	:	auto	100%;*/
	background	:	white;
	border-top	:	1px solid #a7a7a7;
	border-bottom	:	1px solid #616161;
	
	box-shadow: 0 4px 2px -2px gray;
}

div.barre_jeux nav.home_barre_mines
{
	float:none;
	display:inline-table;
}
div.barre_jeux nav.home_barre_mines ul
{
	z-index:1;
}
img.barre_specific_image
{
	position:	absolute;
	left : 350px;
	height : 60px;
	width:	auto;
	top : -15px;
}
/*span.barre_jeux_element
{
	text-decoration	:	none;
	font-family	:	"SQUAREFONT";
	vertical-align:middle;
	color	:	white;
	margin-left	:	2%;
}

span.barre_jeux_element a
{
	display	:	inline-block;
	height	:	100%;
	transition	:	color 500ms ease 0s;
		-webkit-transition	:	color 500ms ease 0s;
		-moz-transition	:	color 500ms ease 0s;
		-ms-transition	:	color 500ms ease 0s;
		-o-transition	:	color 500ms ease 0s;
}

span.barre_jeux_element a:hover
{
	color	:	#784bb3;
}*/

/* MID */ 
div.page
{
	position : relative;
	width : 100%;
	margin:auto;
	margin-top:170px; /* somme des hauteurs du top */
}

aside#contentgauche, aside#contentdroite
{
	/*position : fixed;
	height	:	100%;
	/*height : -moz-calc(100% - 170px); /* 100% - hauteur des topbarres en px */
	/*height: -webkit-calc(100% - 170px);
	height: -o-calc(100% - 170px);
	height: calc(100% - 170px);*/
	
	position 	: fixed;
	height		:	100%;
	/*width		:	380px;*/
	overflow 	: hidden;
	
	/*width : -webkit-calc(50% + 550px);
	width : -moz-calc(50% + 550px);
	width : -ms-calc(50% + 550px);
	width : -o-calc(50% + 550px);
	width : calc((100% - 1100px)/2);*/
	
	height : -webkit-calc(100% - 170px);
	height : -moz-calc(100% - 170px);
	height : -ms-calc(100% - 170px);
	height : -o-calc(100% - 170px);
	height : calc(100% - 170px);
	
	
	background-image	:	url('../img/backgrounds/menu_bord_G.png');
	background-position	:	top	right;
	background-repeat	:	no-repeat;
	background-size		:	100% 100%;
	
	box-shadow: -40px 0 40px -40px #a7a7a7 inset;
	right : -webkit-calc(50% + 550px);
	right : -moz-calc(50% + 550px);
	right : -ms-calc(50% + 550px);
	right : -o-calc(50% + 550px);
	right : calc(50% + 550px);
	
	left : 0;
}
aside#contentdroite
{
	background-image	:	url('../img/backgrounds/menu_bord_D.png');
	/*right : 0;*/
	background-position	:	top	left;
	box-shadow: 40px 0 40px -40px #a7a7a7 inset;
	left : -webkit-calc(50% + 550px);
	left : -moz-calc(50% + 550px);
	left : -ms-calc(50% + 550px);
	left : -o-calc(50% + 550px);
	left : calc(50% + 550px);
	
	right : 0;
}

section#contentcentre
{
	/*position : absolute;
	right:20%;
	width	:	60%;*/
	position : absolute;
	background : green;
	height : 100%;
	/*right : 380px;
	left : 380px;
	min-width:	600px;*/
	right : 0;
	left : 0;
	width : 1100px;
	margin : auto;
}

div.content
{
	position : relative;
	width : 100%;
	margin:0;
	/*font-family	:	"Prototype";*/
	font-weight	:	none;
	background : #ececec;
}
 
/* ARTICLES */
/*div.menu
{
	width	:	60%; 
	height : 3%;
	border-bottom : 1px solid #808080;
	border-top : 1px solid #808080;
	margin-top 	:	0;
	position	:	fixed;
	background-color:white;
	z-index:1;
}*/
div.contenu
{
	position:relative;
	padding-top:0.5%; /*(hauteur + margin du menu) + éventuelle margin*/
	width:100%;
	height:100%;
	z-index:0;
}
/*div.menu a
{
    display		:	block; 
	float 		:	left;
	text-align	:	center; 
	background	:	#a7a7a7;
	margin-right	:	0.2%;
	height 		: 	100%;
	line-height	:	150%;
	padding-left:0.5%;
	padding-right:0.5%;
	vertical-align:middle;
	color		:	black;
	font-family	:	"Agency";
	font-size: 100%;
}

div.menu a:hover
{
	background	:	#9d86b7;
}*/

div.col_gauche
{
	position	:	relative;
	float		:	left;
	width		:	63%;
	margin-right	:	1%;
	margin-left	:	1%;
}

.col_gauche img
{
	width	:	100%;
	height	:	auto;
}

div.col_gauche_mainnews
{
	width		:	100%;
	height	:	250px; /* hauteur à définir */
}
div.col_gauche_mainnews img
{
	width		:	auto;
	max-width	:	100%;
	height	:	100%;
}

.col_gauche_mainnews_cube_container{
width:100%;
height:100%;
/*perspective*/
-webkit-perspective:600;
   -moz-perspective:600;
    -ms-perspective:600;
     -o-perspective:600;
        perspective:600;
}
.col_gauche_mainnews_cube_container #cube{
position:absolute;
width:100%;
/*left:10%;*/
left : -webkit-calc(10%);
width : -webkit-calc(80%);
height:200px;
top:25px;
margin:0 auto;
text-align:center;
/*transform-style*/
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
/*transition*/
-webkit-transition:-webkit-transform 1s ease;
   -moz-transition:   -moz-transform 1s ease;
    -ms-transition:    -ms-transform 1s ease;
     -o-transition:     -o-transform 1s ease;
        transition:        transform 1s ease;
/*transform*/
-webkit-transform:translateZ(0px) rotateX( -0 ) rotateY( 0deg );
   -moz-transform:translateZ(0px) rotateX( -0 ) rotateY( 0deg );
    -ms-transform:translateZ(0px) rotateX( -0 ) rotateY( 0deg );
     -o-transform:translateZ(0px) rotateX( -0 ) rotateY( 0deg );
        transform:translateZ(0px) rotateX( -0 ) rotateY( 0deg );
}
#cube img{
height:100%;
width:100%;
}
#cube #front, #back, #up, #bottom{
background:white;
position:absolute;
overflow:hidden;
width:100%;
height:100%;
border:1px solid #000;
/*backface-visibility*/
-webkit-backface-visibility:visible;
   -moz-backface-visibility:visible;
    -ms-backface-visibility:visible;
     -o-backface-visibility:visible;
        backface-visibility:visible;
/*-webkit-transition:-webkit-shadow 2s;
   -moz-transition:   -moz-shadow 2s;
    -ms-transition:    -ms-shadow 2s;
     -o-transition:     -o-shadow 2s;
        transition:        background 2s ease;
/*-webkit-box-shadow: inset 0px -100px 100px -50px rgba(0,0,0,0.5);
   -moz-box-shadow: inset 0px -100px 100px -50px rgba(0,0,0,0.5);
    -ms-box-shadow: inset 0px -100px 100px -50px rgba(0,0,0,0.5);
     -o-box-shadow: inset 0px -100px 100px -50px rgba(0,0,0,0.5);
        box-shadow: inset 0px -100px 100px -50px rgba(0,0,0,0.5);*/

}
#front{
/*transform*/
-webkit-transform:translateZ( 100px );
   -moz-transform:translateZ( 100px );
    -ms-transform:translateZ( 100px );
     -o-transform:translateZ( 100px );
        transform:translateZ( 100px );
}
#back{
/*transform*/
-webkit-transform:translateZ( -100px ) rotateX(180deg);
   -moz-transform:translateZ( -100px ) rotateX(180deg);
    -ms-transform:translateZ( -100px ) rotateX(180deg);
     -o-transform:translateZ( -100px ) rotateX(180deg);
        transform:translateZ( -100px ) rotateX(180deg);
}
#up{
/*transform*/
-webkit-transform:rotateX(90deg) translateZ( 100px );
   -moz-transform:rotateX(90deg) translateZ( 100px );
    -ms-transform:rotateX(90deg) translateZ( 100px );
     -o-transform:rotateX(90deg) translateZ( 100px );
        transform:rotateX(90deg) translateZ( 100px );
}
#bottom{
/*transform*/
-webkit-transform:rotateX(-90deg) translateZ( 100px );
   -moz-transform:rotateX(-90deg) translateZ( 100px );
    -ms-transform:rotateX(-90deg) translateZ( 100px );
     -o-transform:rotateX(-90deg) translateZ( 100px );
        transform:rotateX(-90deg) translateZ( 100px );
}
.left, .right{
position	:	absolute;
right	:	0;
top:20px;
width:25px;
height:25px;
line-height:25px;
/*border-radius*/
-webkit-border-radius:25px;
   -moz-border-radius:25px;
        border-radius:25px;
background:#d6c2ff;
color	:	#9d86b7;;
z-index:10;
text-align	:	center;
cursor : pointer;
-webkit-transform:rotate(-90deg);
   -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
     -o-transform:rotate(-90deg);
        transform:rotate(-90deg);
		
box-shadow	:  0 0 10px  #747474;
}
.right{
top:265px;
-webkit-transform:rotate(90deg);
   -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
     -o-transform:rotate(90deg);
        transform:rotate(90deg);
}
.left:hover, .right:hover
{
	background	:	#9d86b7;
	color	:	#d6c2ff;
	box-shadow	: inset 0 0 10px  #747474;
}
#cube .col_gauche_news
{
height	:	100%;
width	:	100%;
margin-top:0;
}

.col_gauche_news
{
	width	:	100%;
	height	:	150px; /* hauteur fixe à définir */
	position	:	relative;
	margin-top	:	2%;
	/*border	:	1px solid #8a8a8a;*/
	
	background-color 	:	white;
	
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
}

.col_gauche_news:hover  .col_gauche_news_text {
	/*box-shadow: inset 0px 0px 10px 2px #9d86b7;*/
	background-color : #e6ddef;
	border	:	1px solid #929292;
}
.col_gauche_news:hover  {
	box-shadow: 0px 0px 10px 2px #c5c5c5;
}

/*.col_gauche_news_text:hover::before {
	box-shadow: inset 0px 0px 20px 10px #9d86b7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}*/

.col_gauche_news_image
{
	position	:	relative !important;
	float	:	left !important;
	width	:	20% !important;
	height	:	100% !important;
	border-right	:	1px	solid black !important;
	box-sizing:border-box !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	border	:	0 !important;
	
	border-right	:	1px solid #d9d9d9 !important;
	
	background-position	:	50% 50%;
	background-size	:	200% auto;
	background-repeat:no-repeat;
}

.col_gauche_news a
{
	display	:	block;
	width	:	100%;
	height	:	100%;
	color	:	black;
	position	:	relative;
	font-size	:	100%;
}

/*.col_gauche_news_image img
{
	width	:	100%;
	height	:	auto;
	max-height	:	100%;
	vertical-align	:	middle;
	z-index:-1;
	position	:	relative;
}*/

.col_gauche_news_text
{
	position	:	relative;
	float	:	left;
	width	:	78%;
	height : 90%;
	margin : 1%;
	padding-left	:	1%;
	padding-right	:	1%;
	border	:	1px solid #b5a2ce;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.col_gauche_news_text_title
{
	height	:	28%;
	top	:	2%;
	position	:	relative;
	width	:	100%;
	font-weight	:	bold;
}
.col_gauche_news_text_subtitle
{
	height	:	50%;
	position	:	relative;
	width	:	100%;
}
.col_gauche_news_text_social
{
	height	:	18%;
	bottom	:	2%
	position	:	relative;
	width	:	100%;
	text-align	:	right;
}

.col_gauche_pages
{
	text-align	:	center;
}

.col_gauche_pages a
{
	color : #a7a7a7;
}

.col_gauche_pages a:hover
{
	color : #9d86b7;
	font-weight : bold;
}

div.col_droite
{
	position	:	relative;
	float		:	left;
	width		:	34%;
	margin-right : 1%;
}

.col_droite_tv
{
	width	:	100%;
	height	:	250px; /* hauteur à définir */
	text-align	:	center;
	line-height	:	200px;
}

.col_titre
{
	/*background-color	:	#d6c2ff;*/
	margin-top	:	0%;
	margin-bottom	:	1%;
	text-align	:	center;
	font-family	:	"Ghotic";
	height : 20px;
	margin-top : 1%;
	
	/*background-image	:	url('../img/barre_titre.png');
	background-repeat	:	repeat-x;
	background-size	:	auto 100%;*/
	
	/*border-radius: 5px;*/
	
	/*box-shadow	: inset 0 0 10px  #747474;
	
	border	:	1px solid gray;*/
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	
	/*background-image:-webkit-gradient(linear, right top, left bottom, color-stop(20%,#ffffff), color-stop(40%,#e7e7e7 ),color-stop(60%,#e7e7e7 ),color-stop(77%,#ffffff));
	background-image : -moz-linear-gradient(right top, #ffffff 20%, #e7e7e7  40%,#e7e7e7  60%,#ffffff 77%);
	background-image : -ms-linear-gradient(right top, #ffffff 20%, #e7e7e7  40%,#e7e7e7  60%,#ffffff 77%);
	background-image : -o-linear-gradient(right top, #ffffff 20%, #e7e7e7  40%,#e7e7e7  60%,#ffffff 77%);
	background-image : linear-gradient(right top, #ffffff 20%, #e7e7e7  40%,#e7e7e7  60%,#ffffff 77%);*/
}
.col_titre::before, .col_titre::after
{
	position:	absolute;
	width:	100%;
	height:	1px;
	background:red;
	content:' ';
	left : 0;
	
	background-image:-webkit-gradient(linear, right top, left bottom, color-stop(20%,#ececec), color-stop(40%,#7c5ca4  ),color-stop(60%,#7c5ca4  ),color-stop(77%,#ececec));
	background-image : -moz-linear-gradient(right top, #ececec 20%, #7c5ca4   40%,#7c5ca4   60%,#ececec 77%);
	background-image : -ms-linear-gradient(right top, #ececec 20%, #7c5ca4   40%,#7c5ca4   60%,#ececec 77%);
	background-image : -o-linear-gradient(right top, #ececec 20%, #7c5ca4   40%,#7c5ca4   60%,#ececec 77%);
	background-image : linear-gradient(right top, #ececec 20%, #7c5ca4   40%,#7c5ca4   60%,#ececec 77%);
}
.col_titre::after
{  margin-top :20px;}

.col_droite_info
{
	width	:	100%;
	/*font-weight	:	bold;*/
}

#article_gameinfo
{
	width	:	100%;
	text-align	:	center;
	background-color	:	black;
	color	:	white;
}

#article_view
{
	width	:	100%;
}

	#article_header
	{
		width	:	100%;
		margin-top	:	5%;
		margin-bottom	:	5%;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	}

		#article_thumb
		{
			width	:	100%;
		}

		#article_title
		{
			width	:	100%;
			text-align	:	center;
		}
		
		#article_intro
		{
			width	:	100%;
			text-align	:	center;
		}

	#article_content
	{
		width	:	100%;
		padding-top	:	5%;
		padding-bottom	:	5%;
	
	}
	
	#article_content img
	{
		max-width	:	100%;
	}

#article_user
{
	margin-top	:	10%;
	margin-bottom	:	50px; /* hauteur à fixer */
	width	:	100%;
	display	:	inline-block;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

	#article_user_img
	{
		width	:	20%;
		height	:	auto;
		max-height	:	90%;
		margin-left	:	1%;
		float	:	left;
		line-height	:	120px; /* = height de acrticle_user */
	}
	
	#article_user_img img
	{
		width	:	100%;
		height	:	auto;
		max-height	:	100%;
		vertical-align	:	middle;
	}

	#article_user_text
	{

		float	:	left;
		margin-left	:	5%;
		vertical-align	:	top;
	}

#article_social
{
	width	:	100%;
}

#article_comments
{
	width	:	100%;
}

.article_comment
{
	width	:	100%;
	display: inline-block; 
	position	:	relative;
	margin-top	:	1%;
	border	:	4px double #d9d9d9;
	
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.article_comment_image
{
	position	:	relative;
	float	:	left;
	width	:	20%;
	height : 150px;

	border-right	:	1px	solid black;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border	:	0;
	
	box-shadow : 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	
	margin-top:1%;
	margin-left:1%;
	margin-bottom:1%;
	margin-right:1%;
}

.article_comment_image img
{
	width	:	100%;
	height	:	auto;
	max-height	:	100%;
}

.article_comment_text
{
	position	:	relative;
	float	:	left;
	width	:	78%; /* 100 - width et margin de l'image */
}
.article_comment_text_title
{
	height	:	30px; /* hauteur à fixer */
	position	:	relative;
	width	:	100%;
	font-weight	:	bold;
}
.article_comment_text_text
{
	position	:	relative;
	width	:	100%;
}

/* Streams */
#streams ul
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
}
#streams li
{
	position: relative;
	/*background: black;*/
	height	:	40px;
	line-height	:	40px;
	text-align	:	center;
	margin-top	:	2px;
	margin-bottom	:	2px;
	border	:	1px solid #d6c2ff;
	padding	:	2px;
}
#streams a
{
	display	:	block;
	width	:	100%;
	height	:	100%;
	color	:	black;
}
#streams a:hover
{
	color	:	#9d86b7;
}
.streams_program
{
	float:left;
}
.streams_horaires
{
	float:right;
}
/* */


/* ESPACE MEMBRE */
#espace_gauche
{
	float	:	left;
	width	:	15%;
	margin-left	:	5%;
	margin-right	:	5%;
	padding-top	:	5%;
}

#espace_gauche_avatar
{
	width	:	100%;
	height	:	150px;
	line-height	:	150px;
	text-align	:	center;
	/*background-size	:	80% auto;
	background-repeat:no-repeat;
	background-position:center center;*/
}

#espace_gauche_avatar img
{
	width	:	80%;
	height	:	auto;
	max-height	:	80%;
	vertical-align	:	middle;
}

#espace_gauche_menu
{
	width		:	100%;
	height		:	75%;
	margin-top	:	5%;
	/*border	:	2px	solid	black;*/
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#espace_gauche_menu	a
{
	display	:	inline-block;
	height	:	100%;
	width	:	100%;
}

#espace_gauche_menu .submit
{
	width	:	100%;
	height	:	60px; /*taille des <li> */
	margin	:	0;
	padding	:	0;
}
#espace_gauche_menu .icone_user
{
	float:left;
	width	:	40%;
	height	:	60px; /*taille des <li> */
}
#espace_gauche_menu .icone_user ~ .icone_user
{
	float	:	right;
}
#espace_gauche_menu .icone_user img
{
	height	:	100%;
	width	:	auto;
}

#espace_droite
{
	float			:	left;
	width			:	73%;
	margin-right	:	2%;
	padding-top		:	2%;
}

#espace_droite_top
{
	height		:	250px; /* hauteur à fixer */
	line-height	:	250px;
}

#espace_droite_user
{
	position	:	relative;
	width		:	100%;
	height		:	10%;
	line-height	:	10%;
	text-align	:	center;
}

#espace_droite_user_flag
{
	float		:	left;
	width		:	5%;
	height		:	100%;
	line-height	:	10%;
}

#espace_droite_user_flag img
{
	width	:	100%;
	height	:	auto;
	max-height	:	100%;
}

#espace_droite_user_pseudo
{
	margin			:	0 auto;
	height			:	100%;
	padding-left	:	1%;
}

#espace_droite_user_team
{
	float	:	right;
	height	:	100%;
	width	:	30%;
	border	:	1px solid black;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#espace_droite_stats
{
	width			:	100%;
	height			:	75%;
	margin-top		:	2%;
	margin-bottom	:	3%;
	border-right	:	0;
	text-align		:	center;
	border	:	1px solid black;
}
	
	#espace_droite_stats img
	{
		vertical-align	:	middle;
	}

	.espace_droite_stats_fleche
	{
		float	:	left;
		height	:	100%;
		line-height	:	1150%;
		width	:	5%;
	}
	
	.espace_droite_stats_fleche a
	{
		display	:	block;
		height	:	100%;
		width	:	100%;
	}
	
	.espace_droite_stats_blocs
	{
		border-top	:	1px solid black;
		border-bottom	:	1px solid black;
	}

	.espace_droite_stats_bloc
	{
		border-radius: 0 15px 15px 0;
		float	:	left;
		width	:	30%;
		height	:	100%;
		border-right	:	1px solid black;
		border-left	:	1px solid black;
		box-sizing:border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	.espace_droite_stats_bloc ~ .espace_droite_stats_bloc
	{
		border-left	:	0;
	}

	.espace_droite_stats_bloc_logogame
	{
		height	:	40%;
		line-height	:	400%;
		width	:	100%;
		text-align	:	center;
	}
	
	.espace_droite_stats_bloc_logogame	img
	{
		width	:	32px;
		height	:	32px;
	}

	.espace_droite_stats_bloc_ranks
	{
		height	:	40%;
		line-height	:	400%;
		width	:	100%;
		border-top	:	1px solid black;
		border-bottom	:	1px solid black;
	}

	.espace_droite_stats_bloc_rank
	{
		border-right	:	1px solid black;
		height	:	100%;
		width	:	50%;
		display	:	inline-block;
		float:left;
		box-sizing:border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	
	.espace_droite_stats_bloc_rank ~	.espace_droite_stats_bloc_rank
	{
		border:0;
	}

	.espace_droite_stats_bloc_morestats
	{
		height	:	20%;
		width	:	100%;
		line-height	:	200%;
	}
	
	.espace_droite_stats_bloc_morestats a
	{
		display	:	inline-block;
		height	:	100%;
		width	:	100%;
	}
	
	a.button{
		/*background: #ECECEC;*/
		border-radius: 0 15px 15px 0;
		/*padding: 10px 20px;*/
		display: block;
		font-family: arial;
		font-weight: bold;
		color:#7f7f7f;
		/*text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;*/
		width: 100%;
		height	:	100%;
		margin:0px auto;
		/*margin-top:50px;*/
		line-height	:	1150%;
		/*box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);*/
		-webkit-transition:all 0.5s;
		transition:all 0.5s;
	}
	a.button i{
		float: right;
		margin-top: 2px;
	}
	a.button:hover{
		box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	}
	a.button:active{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
	}

/** espace membre droite wall */
#espace_droite a.ancre{
    display: none;
}
#idPosts, #idProfiles, #idArticles
{
	display	:	none;
}
a#Posts:target ~ #idPosts
{
	display	:	inline;
}
	a#Posts:target ~ #idArticles, #idProfiles
	{
		display	:	none;
	}
a#Articles:target ~ #idArticles
{
	display	:	inline;
}
	a#Articles:target ~ #Pidosts, #idProfiles
	{
		display	:	none;
	}
a#Profiles:target ~ #idProfiles
{
	display	:	inline;
}
	a#Profiles:target ~ #idArticles, #idPosts
	{
		display	:	none;
	}

/* Edit User */
.users_edit
{
	width	:	80%;
	margin	:	0 auto;
}
.users_edit_title
{
	width	:	10%;
	float:left;
	height	:	100%;
	min-height	:	600px;
}
.rotate {
    margin: 0;
    padding: 0;
	min-width	:	600px;
	text-align	:	right;
	float:right;
    -webkit-transform-origin: right	60%	0px;
       -moz-transform-origin:	right	60%	0px;
        -ms-transform-origin: right	60%	0px;
         -o-transform-origin: right	60%	0px;
            transform-origin: right	60%	0px;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.users_edit_form
{
	width	:	80%;
	float	:	left;
}
.users_edit form {
	background: #9d86b7;/*rgba(108, 91, 126, 1);/*rgba(108, 91, 126, 1);/*#9cbc2c;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	margin	:	auto;
	margin-top:1%;
	margin-bottom:1%;
	float:left;
}
.users_edit form fieldset {
	border: none;
	margin-bottom: 10px;
}
.users_edit form fieldset:last-of-type {
	margin-bottom: 0;
}

.users_edit form legend {
	color: rgba(108, 91, 126, 1);/*rgba(157, 134, 183, 1);/*#384313;*/
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 1px 1px 10px white;/*rgba(157, 134, 183, 0.5);/*#c0d576;*/
}
.users_edit form ol li {
	background: #9d86b7;/*#b9cf6a;*/
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}
.users_edit form ol ol li {
	background: none;
	border: none;
	float: left;
}
.users_edit input[type="range"] {
    position: relative;
    margin-left: 1em;
}
.users_edit input[type="range"]:after,
.users_edit input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
.users_edit input[type="range"]:before {
    left:0em;
    content: attr(min);
}
.users_edit input[type="range"]:after {
    right: 0em;
    content: attr(max);
}
.users_edit form button {
	background: rgba(108, 91, 126, 1);/*#384313;*/
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}
.users_edit form button:hover {
	background: #1e2506;
	cursor: pointer;
}
/******/
	

/** Layout **/
#container {
    text-align: left;
}

#header{

}

#header h1 {
    line-height:20px;
    background: #444 url('../img/agamek_logo.icon.png') no-repeat left;
    color: #fff;
    padding: 0px 30px;
}
#header h1 a {
    color: #fff;
    /*background: #003d4c;*/
    font-weight: normal;
    text-decoration: none;
}
#header h1 a:hover {
    color: #FD7E00;
    /*background: #003d4c;*/
    text-decoration: underline;
}
#content{
    /*width: 850px;
    clear: both;
    color: #333;
    padding: 10px 20px 40px 20px;
    margin:auto;
    position:relative;
    top:100px;*/
}
#footer {
	position	:	relative;
	clear	:	both;
	width	:	100%;
	border-top	:	10px	solid	#9d86b7;
	border-bottom	:	10px	solid	#9d86b7;
	margin-bottom	:	0;
	top	:	50px;
	bottom	:	0;
}
#footer img {
float	:	left;
width	:	50px;
height	:	auto;
}
#header a, #footer a {

}
#cake-powered {
    float: right;
}

/** containers **/
div.form,
div.index,
div.view {
    float:right;
    width:76%;
    border-left:1px solid #666;
    padding:10px 2%;
}
div.actions {
    background-color:#fff;
    float:left;
    width:16%;
    padding:10px 1.5%;
}
div.actions h3 {
    padding-top:0;
    color:#777;
}

/** Tables **/
table {
    border-right:0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
th {
    border:0;
    border-bottom:2px solid #555;
    text-align: left;
    padding:4px;
}
th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
th a.asc:after {
    content: ' ⇣';
}
th a.desc:after {
    content: ' ⇡';
}
table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
    background: #f9f9f9;
}
td.actions {
    text-align: center;
    white-space: nowrap;
}
table td.actions a {
    margin: 0px 6px;
    padding:2px 5px;
}

/* SQL log */
.cake-sql-log {
    background: #fff;
    position:reltive;
    bottom:0px;
}
.cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
    color:#fff;
}

/** Paging **/
.paging {
    background:#fff;
    color: #ccc;
    margin-top: 1em;
    clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block
}
.paging > span {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: 0;
}
.paging > span:hover {
    background: #efefef;
}
.paging .prev {
    border-left: 1px solid #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.paging .next {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.paging .disabled {
    color: #ddd;
}
.paging .disabled:hover {
    background: transparent;
}
.paging .current {
    background: #efefef;
    color: #c73e14;
}

/** Scaffold View **/
dl {
    line-height: 2em;
    margin: 0em 0em;
    width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
    background: #f4f4f4;
}

dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
    width: 10em;
}
dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}

/** Forms **/
form {
    clear: both;
    margin-right: 20px;
    padding: 0;
    width: 95%;
}
fieldset {
    border: none;
    margin-bottom: 1em;
    padding: 16px 10px;
}
fieldset legend {
    color: #e32;
    font-size: 160%;
    font-weight: bold;
}
fieldset fieldset {
    margin-top: 0;
    padding: 10px 0 0;
}
fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
form div {
    clear: both;
    margin-bottom: 1em;
    padding: .5em;
    vertical-align: text-top;
}
form .input {
    color: #444;
}
form .required {
    font-weight: bold;
}
form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
}
form div.submit {
    border: 0;
    clear: both;
    margin-top: 10px;
}
label {
    display: block;
    font-size: 110%;
    margin-bottom:3px;
}
input, textarea {
    clear: both;
    /*font-size: 140%;*/
    font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
    padding: 1%;
    width:98%;
}
select {
    clear: both;
    font-size: 120%;
    vertical-align: text-bottom;
}
select[multiple=multiple] {
    width: 100%;
}
option {
    font-size: 120%;
    padding: 0 3px;
	text-align	:	center;
}
input[type=checkbox] {
    clear: left;
    float: left;
    margin: 0px 6px 7px 2px;
    width: auto;
}
div.checkbox label {
    display: inline;
}
input[type=radio] {
    float:left;
    width:auto;
    margin: 6px 0;
    padding: 0;
    line-height: 26px;
}
.radio label {
    margin: 0 0 6px 20px;
    line-height: 26px;
}
input[type=submit] {
    display: inline;
    font-size: 110%;
    width: auto;
}
form .submit input[type=submit] {
    background:#62af56;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    border-color: #2d6324;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
    padding: 8px 10px;
}
form .submit input[type=submit]:hover {
    background: #5BA150;
}

/* Form errors */
form .error {
    background: #FFDACC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
}
form .error-message {
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    border: none;
    background: none;
    margin: 0;
    padding-left: 4px;
    padding-right: 0;
}
form .error,
form .error-message {
    color: #9E2424;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

/** Notices and Errors **/
.message {
    clear: both;
    color: #fff;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
    background: #ffcc00;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
    background-image: linear-gradient(top, #ffcc00, #E6B800);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    font-weight: normal;
    line-height: 140%;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    color: #fff;
}

/**  Actions  **/
.actions ul {
    margin: 0;
    padding: 0;
}
.actions li {
    margin:0 0 0.5em 0;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
.actions ul li a {
    font-weight: normal;
    display: block;
    clear: both;
}

/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
    font-weight:normal;
    padding: 4px 8px;
    background: #dcdcdc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: linear-gradient(top, #fefefe, #dcdcdc);
    color:#333;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: #fff 0px 1px 0px;
    min-width: 0;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
    user-select: none;
}
.actions ul li a:hover,
.actions a:hover {
    background: #ededed;
    border-color: #acacac;
    text-decoration: none;
}
input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
    background: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
    background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
    background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
    background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
    background-image: -o-linear-gradient(top, #dfdfdf, #eee);
    background-image: linear-gradient(top, #dfdfdf, #eee);
    text-shadow: #eee 0px 1px 0px;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    border-color: #aaa;
    text-decoration: none;
}

/** Related **/
.related {
    clear: both;
    display: block;
}

pre {
    color: #000;
    background: #f0f0f0;
    padding: 15px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
    padding: 0;
    position: absolute;
    top: 100px;
    z-index:1000;
    width: 100%;
}
.cake-debug-output > span {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 6px;
    color: #000;
    display: block;
    float: left;
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
    font-size: 16px;
    line-height: 20px;
    clear: both;
}
.cake-error > a {
    text-shadow: none;
}
.cake-error {
    white-space: normal;
}
.cake-stack-trace {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    margin: 10px 0 5px 0;
    padding: 10px 10px 0 10px;
    font-size: 120%;
    line-height: 140%;
    overflow: auto;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.cake-stack-trace a {
    text-shadow: none;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0px 4px 10px 2px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    text-decoration: none;
    -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
    position: relative;
    overflow: auto;
}
.cake-context {
    margin-bottom: 10px;
}
.cake-stack-trace pre {
    color: #000;
    background-color: #F0F0F0;
    margin: 0px 0 10px 0;
    padding: 1em;
    overflow: auto;
    text-shadow: none;
}
.cake-stack-trace li {
    padding: 10px 5px 0px;
    margin: 0 0 4px 0;
    font-family: monospace;
    border: 1px solid #bbb;
    -moz-border-radius: 4px;
    -wekbkit-border-radius: 4px;
    border-radius: 4px;
    background: #dcdcdc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: linear-gradient(top, #fefefe, #dcdcdc);
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    padding: 4px;
    overflow: auto;
}
.cake-code-dump .code-highlight {
    display: block;
    background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
    padding-left:5px;
    display:block;
    margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
    background:#ecc;
}
.code-coverage-results div.covered span.content {
    background:#cec;
}
.code-coverage-results div.ignored span.content {
    color:#aaa;
}
.code-coverage-results span.line-num {
    color:#666;
    display:block;
    float:left;
    width:20px;
    text-align:right;
    margin-right:5px;
}
.code-coverage-results span.line-num strong {
    color:#666;
}
.code-coverage-results div.start {
    border:1px solid #aaa;
    border-width:1px 1px 0px 1px;
    margin-top:30px;
    padding-top:5px;
}
.code-coverage-results div.end {
    border:1px solid #aaa;
    border-width:0px 1px 1px 1px;
    margin-bottom:30px;
    padding-bottom:5px;
}
.code-coverage-results div.realstart {
    margin-top:0px;
}
.code-coverage-results p.note {
    color:#bbb;
    padding:5px;
    margin:5px 0 10px;
    font-size:10px;
}
.code-coverage-results span.result-bad {
    color: #a00;
}
.code-coverage-results span.result-ok {
    color: #fa0;
}
.code-coverage-results span.result-good {
    color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
    display:none;
}




/* Menu */
/* UL list for menu */
ul.liste_style {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}
ul.liste_style li {
		position: relative;
		background: #eee;
		color: #252525;
		font-size: 18px;
		z-index: 2;
		height	:	60px;
		line-height	:	60px;
		text-align	:	center;
	}
ul.liste_style li:nth-child(odd) {
		background: #fff;
	}
ul.liste_style a 
{
	display	:	block;
	width	:	100%;
	height	:	100%;
	color	:	#252525;
	font-size: 18px;
}

#cssmenu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: auto;
}
#cssmenu ul {
    background: #333333;
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu li {
    float: left;
    padding: 0px;
}
#cssmenu li a {
    background: #333333 url('../img/seperator.gif') bottom right no-repeat;
    display: block;
    font-weight: normal;
    line-height: 35px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}
#cssmenu > ul > li > a {
    color: #cccccc;
}
#cssmenu ul ul a {
    color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
    background: #616769 url('../img/hover.png') bottom center no-repeat;
    color: #FFFFFF;
    text-decoration: none;
}
#cssmenu li ul {
    background: #333333;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 225px;
    z-index: 200;
    /*top:1em;
          /*left:0;*/

}
#cssmenu li:hover ul {
    display: block;
}
#cssmenu li li {
    background: url('../img/sub_sep.gif') bottom left no-repeat;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 225px;
}
#cssmenu li:hover li a {
    background: none;
}
#cssmenu li ul a {
    display: block;
    height: 35px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
    background: #616769 url('../img/hover_sub.png') center left no-repeat;
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}
#cssmenu p {
    clear: left;
}

/* Articles 
#news {
    width: 100%;
	height:100%;

}

#news .row {
    background:#fff;
    padding:5px;
    margin:5px;
    height: 100px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border-style:inset;
    border-width: 1px 1px 1px 1px;
}

#news .row img {
    margin:auto;
    height:100px;
}

#news .after_thumb {
    width:40%;
    position: relative;
    top:-130px;
    left:200px;
}

#news .after_thumb h3 {
    font-size: 10pt;
}*/


/* liste */
ul, ol {
    /*list-style: none;*/
}

div.users.form {
    background:#fff;
}

.background {
    background:#fff;
}

.games.index {
    background:#fff;
}


/* Un ptit hack pour centrer verticalement */
p.vertical_center
{
display: inline-block;  vertical-align: middle;  width: 100%; height: 100%;
}

div.vertical_center_div:before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px)
{
	aside#contentgauche, aside#contentdroite
	{
        display: none;
    }
	/*section#contentcentre
	{
		left:0;
		right:0;
	}*/
	div.barres_top
	{
		position:relative;
	}
}